.fs-r14{
    font-size: 1.4rem;
}
.fs-r16{
    font-size: 1.6rem;
}
.fs-r18{
    font-size: 1..8rem;
}
.fs-r20{
    font-size: 2.0rem;
}
.fs-r22{
    font-size: 0.22rem;
}
.fs-r24{
    font-size: 0.24rem;
}
.fs-r26{
    font-size: 0.26rem;
}
.fs-r28{
    font-size: 0.28rem;
}
.fs-r30{
    font-size: 0.30rem;
}
.fs-r32{
    font-size: 0.32rem;
}
.fs-r36{
    font-size: 0.36rem;
}
.fc-cc{
    color: #ccc;
}
.fc-dd{
    color: #ddd;
}
.fc-ee{
    color: #eee;
}
.fc-ff{
    color: #fff;
}
.fc-a2{
    color: #A2A2A2;
}
.fc-70{
    color: #707070;
}